#contenedor-ingreso
{
    height: 100vh;
    width: 100%;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

label { margin-bottom: 1rem; }

input {
    width: 50rem;
    color: #fff;
    font-size: 20px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border: 0.2rem solid #fff;
    border-radius: 2rem;
    background-color: #24232c;
    box-shadow: 
    0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem #bc13fe,
    0 0 0.8rem #bc13fe,
    0 0 2.8rem #bc13fe,
    inset 0 0 1.3rem #bc13fe; 
    padding: 1rem;
}

.titulo {
    background: linear-gradient(to right, #c403ff, #ff0000);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    // text-shadow:
    // 0 0 15px #ff6464,
    // 0 0 10px #ff2727,
    // 0 0 21px #fff,
    // 0 0 42px #bc13fe,
    // 0 0 82px #bc13fe,
    // 0 0 92px #bc13fe,
    // 0 0 102px #bc13fe,
    // 0 0 151px #bc13fe;
}
  
.full-width { width: 100%; }

.md-width { width: 50%; }
  
mat-card 
{
    padding: 20px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.247);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(0, 0, 0, 0.3);
    max-width: 80%;
    min-width: 50%;
    box-shadow: 0px 0px 34px -4px rgba(0,0,0,0.29);
    -webkit-box-shadow: 0px 0px 34px -4px rgba(0,0,0,0.29);
    -moz-box-shadow: 0px 0px 34px -4px rgba(0,0,0,0.29);
}

mat-card-header
{
    align-self: center;
    margin-bottom: 2rem;
}
  
form
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#btn_iniciar_sesion
{
    margin-top: 3rem;
    background-color: rgb(195, 0, 255);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 
    0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem #d713fe,
    0 0 0.8rem #e313fe,
    0 0 2.8rem #fe13fe,
    inset 0 0 1.3rem #f613fe; 
}

.btn_acceso_rapido {
    background: rgba(0, 0, 255, 0.233);
    border: none;
    color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 2rem;
    padding: 5px;
    img {
        margin-left: 5px;
    }
}

#btn-registrar {
    font-size: larger; background: rgba(0, 0, 0, 0.616);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(0, 0, 0, 0.212);
}