.contenedor-tabla {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    table {
        width: 80%;
        color: white;
        padding: 20px;
        border: 0.2rem solid #fff;
        background-color: #24232c;
        box-shadow: 
        0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 2rem #bc13fe,
        0 0 0.8rem #bc13fe,
        0 0 2.8rem #bc13fe,
        inset 0 0 1.3rem #bc13fe; 
        background-color: rgba(0, 0, 0, 0.404);
        backdrop-filter: blur(10px);
        margin-right: 1rem;
        padding: 1rem;
        tr {
            text-align: center;
            border-bottom: 0.2rem solid #fff;
        }
        th, td {
            border-right: 0.2rem solid #fff;
        }
    }
}
.contenedor-mensajes {
    margin-top: 3rem;
    display: flex;
    color: white;
    text-align: center;
    justify-content: center;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border: 0.2rem solid #fff;
    border-radius: 2rem;
    box-shadow: 
    0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem #bc13fe,
    0 0 0.8rem #bc13fe,
    0 0 2.8rem #bc13fe,
    inset 0 0 1.3rem #bc13fe; 
    p {font-size: 28px;}
}

#contenedor-interacciones {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    button {
        background-color: #6f00ff;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        box-shadow: 
        0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 2rem #d713fe,
        0 0 0.8rem #e313fe,
        0 0 2.8rem #fe13fe,
        inset 0 0 1.3rem #f613fe; 
    }
}