<div id="contenedor_main_quien_soy">
    <div class="row relleno"></div>
    <div class="row" id="biografia">
        <div class="col-1 relleno"></div>
        <div class="col-1">
            <img src="imgs/123998550.jpg" height="380px" width="380px">
        </div>
        <div class="col-1"></div>
        <div class="col-8">
            <div class="card text-bg-dark mb-3" style="max-width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Quién soy?</h5>
                    <p class="card-text">
                        Mi nombre es Thomas Agustín Marino. Nací el 8 de Abril del 2003 y soy de Lomas de Zamora, Buenos Aires. 
                        <br> 
                        <br> 
                        En Diciembre del 2022 tomé la decisión de dejar el CBC de la carrera de medicina, teniendo que rendir solo 2 finales para ingresar, 
                        decidí adentrarme en el mundo de la programación. Lleno de nervios y con miles de miedos encima, decidí anotarme para el curso de ingreso 
                        de la técnicatura universitaria en programación en la U.T.N. y desde el primer día me volví un apasionado del vasto mundo que rodea a la programación.
                        <br> 
                        <br>
                        Sin saber siquiera lo que era un lenguaje de programación, comencé a adquirir conocimientos por cuenta propia acerca de todo lo que estaba al alcance de 
                        mi conocimiento y en tan solo dos días ya había terminado todo el contenido relacionado a la materia programación del curso de ingreso. 
                        Me considero una persona muy autocrítica y exigente cuando llega la hora de programar. Mi principal objetivo y lo que me apasiona es mejorar y adquirir la 
                        mayor cantidad de conocimientos posibles dentro de esta técnicatura universitaria.
                        <br>
                        <br>
                        Actualmente me encuentro trabajando como desarrollador full-stack para una empresa y cursando todas las materias del último cuatrimestre de la T.U.P.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>