#contenedor_main_quien_soy
{
    min-width: 100vw;
    min-height: 100vh;
    background: radial-gradient(50% 50% at 50% 50%, #e1f3ff 51.04%, #ededed 100%);
    // margin-top: 15rem;
}

#biografia
{
    padding-top: 2rem;
    // border-radius: 2px;
    // margin-top: 15rem;
    background-color: #2e2e2eda;
    max-width: 95%;
    margin-inline: auto;
    box-shadow: 0px 0px 34px -4px rgba(0,0,0,0.59);
    -webkit-box-shadow: 0px 0px 34px -4px rgba(0,0,0,0.59);
    -moz-box-shadow: 0px 0px 34px -4px rgba(0,0,0,0.59);
}

.card
{
    box-shadow: 0px 0px 34px -4px rgba(0,0,0,0.59);
    -webkit-box-shadow: 0px 0px 34px -4px rgba(0,0,0,0.59);
    -moz-box-shadow: 0px 0px 34px -4px rgba(0,0,0,0.59);
    min-width: 100%;
    margin-left: 5rem;
    font-size: 1.25rem;
}

img
{
    border-radius: 15rem;
    margin-top: 1rem;
}

.relleno
{
    min-height: 3rem;
    max-width: 5rem;
}

.columnas-contenedoras
{
    background-color: rgb(221, 221, 221);
}