<!-- Contenido que puede causar overflow -->
<div class="row" id="contenedor-biografia">
    <div class="biografia">
        <img src="imgs/quien-soy/123998550.jpg">
        <div class="descripcion">
            <h3 class="titulo-juego fuente-titulo">Quién soy?</h3>
            <p class="texto-descripcion">
                Mi nombre es Thomas Agustín Marino. Nací el 8 de Abril del 2003 y soy de Lomas de Zamora, Buenos Aires. 
                <br> 
                <br> 
                En Diciembre del 2022 tomé la decisión de dejar el CBC de la carrera de medicina, teniendo que rendir solo 2 finales para ingresar, 
                decidí adentrarme en el mundo de la programación. Lleno de nervios y con miles de miedos encima, decidí anotarme para el curso de ingreso 
                de la técnicatura universitaria en programación en la U.T.N. y desde el primer día me volví un apasionado del vasto mundo que rodea a la programación.
                <br> 
                <br>
                Sin saber siquiera lo que era un lenguaje de programación, comencé a adquirir conocimientos por cuenta propia acerca de todo lo que estaba al alcance de 
                mi conocimiento y en tan solo dos días ya había terminado todo el contenido relacionado a la materia programación del curso de ingreso. 
                Me considero una persona muy autocrítica y exigente cuando llega la hora de programar. Mi principal objetivo y lo que me apasiona es mejorar y adquirir la 
                mayor cantidad de conocimientos posibles dentro de esta técnicatura universitaria.
                <br>
                <br>
                Actualmente me encuentro trabajando como desarrollador full-stack para una empresa y cursando todas las materias del último cuatrimestre de la T.U.P.
            </p>
        </div>
    </div>
</div>

<div class="row" id="contenedor-explicacion-juego">
    <div class="explicacion-juego">
        <img src="imgs/iconos/question-mark.png">
        <div class="descripcion">
            <h3 class="titulo-juego fuente-titulo">GameGuessr</h3>
            <p class="texto-descripcion">
                GameGuessr fue el juego que decidí implementar. 
                <br>
                En GameGuessr tendrás que poner a prueba tus conocimientos acerca de videojuegos, intentando adivinar
                el nombre de un videojuego al ver una imagen aleatoria y recortada de la portada del mismo! 
                <br> 
                <br> 
                Las reglas son las siguientes:
                <br>
                Cuando el usuario decide comenzar a jugar, se escoge aleatoriamente el nombre de un videojuego y una de sus imagenes y la misma se muestra al usuario.
                <br>
                El usuario tendrá tres oportunidades para adivinar cual es el videojuego de la imagen.
                <br> 
                Cada oportunidad desperdiciada, le costará al usuario 4 puntos, siendo el puntaje máximo 10 puntos.
            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="encuesta">
        <button class="fuente-titulo" routerLink="/encuesta">Quieres dejar tu opinion sobre la pagina?</button>
    </div>
</div>