<div class="contenedor-juegos">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <img src="imgs/iconos/ahorcado.png" class="card-image" height="64px" width="64px" alt="foto ahorcado">
                <h2 class="titulo-juego fuente-titulo">Ahorcado</h2>
                <div class="card-content">
                    <p class="card-description">
                        Pon a prueba tu agilidad mental en el ahorcado!.
                        <br>
                        <br>
                        Reglas:
                        <br>
                            . Si la letra elegida está dentro de la palabra adivinar, la misma será tachada y se mostrará en que posición corresponde.
                        <br>
                            . Si la letra elegida NO está dentro de la palabra a adivinar, la misma será tachada y se perderá una oportunidad.
                    </p>
                    <button class="card-button fuente-titulo" routerLink="/juegos/ahorcado">¡A Jugar!</button>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <img src="imgs/iconos/mayorMenor.png" class="card-image" height="64px" width="64px" alt="foto mayor o menor">
                
                <h2 class="titulo-juego fuente-titulo">Mayor Menor</h2>

                <div class="card-content">
                    <p class="card-description">
                    Pon a prueba tu suerte y memoria en Mayor o menor!
                    <br>
                    <br>
                    - Reglas:
                    <br>
                        . Si la predicción es correcta, el jugador ganará un punto
                    <br>
                        . Si la predicción es incorrecta, el jugador no ganará ningún punto.
                        <br>
                        . Puntaje máximo: 5 puntos.
                    </p>

                    <button class="card-button fuente-titulo" routerLink="/juegos/mayor-menor">¡A Jugar!</button>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <img src="imgs/iconos/choose.png" alt="Preguntados" height="64px" width="64px" class="card-image">

                <h2 class="titulo-juego fuente-titulo">Preguntados</h2>

                <div class="card-content">
                    <p class="card-description">
                        Pon a prueba tu conocimiento en Preguntados!
                        <br><br>
                        - Reglas:
                        <br>
                        . Si la predicción es correcta, el jugador ganará un punto
                        <br>
                        . Si la predicción es incorrecta, el jugador no ganará ningún punto.
                        <br>
                        . Puntaje máximo: 5 puntos.
                    </p>

                    <button class="card-button fuente-titulo" routerLink="/juegos/preguntados">¡A Jugar!</button>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <img src="imgs/iconos/question-mark.png" class="card-image" height="64px" width="64px" alt="foto juego propio">

                <h2 class="titulo-juego fuente-titulo">GameGuessr</h2>

                <div class="card-content">
                    <p class="card-description">
                        Pon a prueba tu conocimiento acerca de videojuegos en GameGuessr!
                        <br>
                        - Reglas:
                        <br>
                        Se presentará una imagen recortada de una portada de un videojuego y tendrás que adivinarla! (No se incluyen distintas entregas, solo la franquicia del videojuego)
                    </p>

                    <button class="card-button fuente-titulo" routerLink="/juegos/game-guessr">¡A Jugar!</button>
                </div>
            </div>
        </div>
    </div>
</div>