.contenedor-juegos
{
    margin-top: 10px;
    min-width: 100%;
    min-height: 100vh;
    background: radial-gradient(50% 50% at 50% 50%, #d6d6d6 51.04%, #ededed 100%);
}

mat-card{ margin-top: 15px; }
mat-card-subtitle{ margin-top: 10px; font-weight: 400;}
mat-card-title{ font-weight: 600; }
img{ border-radius: 1rem; }


// Oculta la imagen en pantallas pequeñas
@media (max-width: 1000px) { img { display: none; } }