<div class="container">
    <h2>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam debitis placeat iste dignissimos fugiat soluta, iusto mollitia reprehenderit architecto voluptas nemo et dolore quidem aperiam ab ipsa repudiandae commodi? Eveniet!
        Provident earum, unde hic, mollitia veniam fuga nihil impedit quas facere perspiciatis enim. Aperiam, dolorem laboriosam accusamus laudantium maxime natus. Ea corrupti maxime, fugiat doloribus omnis dignissimos quam odit aut.
        Deserunt numquam dolore vitae perferendis laboriosam quaerat nam architecto quisquam impedit iusto laborum delectus in eius sit repellendus velit praesentium dolores, nihil doloremque, a distinctio corrupti neque. Inventore, voluptate! Quas!
    </h2>
</div>
