#header-app
{
    background-color: #ededed;
    grid-template-rows: auto 1fr; // mat-toolbar main
    border-bottom: 2px solid rgb(98, 98, 255);
    min-height: 10dvh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; // Asegura que los elementos estén distribuidos
    align-items: center;
    box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.492);
    -webkit-box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.492);
    -moz-box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.492);
}

a
{
    font-size: 110%;
    white-space: normal;
}