#container-fluid-header
{
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #1b1b1bda;
    box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.492);
    border-bottom: 3px solid green;
    -webkit-box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.492);
    -moz-box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.492);
}
#btn-inicio
{
    margin-left: 8rem;
    font-size: 2rem;
    font-weight: 600;
    color: rgb(0, 133, 71);
}
#btn-ayuda
{
    margin-left: 8rem;
    font-size: 2rem;
    font-weight: 600;
    color: rgb(0, 133, 71);
}
.container
{
    border-radius: 8px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #ededed;
    height: 100%;
    box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.492);
    -webkit-box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.492);
    -moz-box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.492);
}
.d-inline-block
{
    width: 100%;
    text-align: right;
}