<div class="contenedor">
    <div class="row align-items-start">
        <div class="espaciador"></div>
        <div class="col-md-6">
            <h1 class="neonText fuente-titulo">404</h1>
        </div>
    </div>

    <div class="row align-items-start">
        <div class="col-md-6">
            <h2 class="neonText fuente-titulo">
                Not found
                <br>
                Asegúrate de ingresar una ruta valida!
            </h2> 
        </div>
    </div>

    <div class="row align-items-start">
        <div class="col-md-6">
            <button id="btn_inicio" class="md-width fuente-titulo" routerLink="/home">Ir al inicio...</button>
        </div>
    </div>
</div>
