<div class="contenedor">
    <div class="row align-items-start">
        <div class="espaciador"></div>
        <div class="col-md-6">
            <h1 class="neonText fuente-titulo">401</h1>
        </div>
    </div>

    <div class="row align-items-start">
        <div class="col-md-6">
            <h2 class="neonText fuente-titulo">
                Unauthorized
                <br>
                Asegúrate de estar logueado en Thomes!
            </h2> 
        </div>
    </div>

    <div class="row align-items-start">
        <div class="col-md-6">
            <button id="btn_ingreso" class="md-width fuente-titulo" routerLink="/ingreso">Ir al ingreso...</button>
        </div>
    </div>
</div>
