.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mensaje-bienvenida {
    margin-top: 5rem;
    display: flex;
    color: white;
    text-align: center;
    justify-content: center;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border: 0.2rem solid #fff;
    border-radius: 2rem;
    box-shadow: 
    0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem #bc13fe,
    0 0 0.8rem #bc13fe,
    0 0 2.8rem #bc13fe,
    inset 0 0 1.3rem #bc13fe; 
}

@keyframes pulsate {100%{text-shadow:0 0 4px #fff,0 0 11px #fff,0 0 19px #fff,0 0 40px #bc13fe,0 0 80px #bc13fe,0 0 90px #bc13fe,0 0 100px #bc13fe,0 0 150px #bc13fe;}0% {text-shadow:0 0 2px #fff,0 0 4px #fff,0 0 6px #fff,0 0 10px #bc13fe,0 0 45px #bc13fe,0 0 55px #bc13fe,0 0 70px #bc13fe,0 0 80px #bc13fe;}}
.card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin-top: 1.5rem;
    padding: 1rem;
    color: white;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
    border: 0.2rem solid #fff;
    border-radius: 2rem;
    box-shadow: 
    0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem #bc13fe,
    0 0 0.8rem #bc13fe,
    0 0 2.8rem #bc13fe,
    inset 0 0 1.3rem #bc13fe; 
    img {
        border-radius: 2rem;
        height: 300px; 
        width: 500px;
    }
    .card-content{
        width: 100%;
        .botones-respuestas {
            display: flex;
            align-items: center;
            justify-content: center;
            .btn {
                color: white;
                border: 0.2rem solid #fff;
                width: 70%;
                height: 3rem;
                border-radius: 2rem;
                margin-bottom: 1rem;
                box-shadow: 
                0 0 .2rem #fff,
                0 0 .2rem #fff,
                0 0 2rem #bc13fe,
                0 0 0.8rem #bc13fe,
                0 0 2.8rem #bc13fe,
                inset 0 0 1.3rem #bc13fe; 
                animation: pulsate 1s infinite alternate;
            }
        }
    }
}

#contenedor-interacciones {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    gap: 25px;
    button {
        background-color: #6f00ff;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        box-shadow: 
        0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 2rem #d713fe,
        0 0 0.8rem #e313fe,
        0 0 2.8rem #fe13fe,
        inset 0 0 1.3rem #f613fe; 
    }
}

.respuestaCorrecta {background-color: green;}